h1{
    color: red;
}

#home-intro{
    text-align: center;
   /* border: 3px;
    border-color:black;
    border-style:solid;*/
    border:3px solid green;
}
#home-intro:hover{
     background-color : yellow;
}
#p2{
    color: blueviolet;
}